<div id="daysguarantee" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="site-logo">
          <img src="{{ settings.rfss_logo | img_url: '150x150'}}" alt="{{ settings.rfss_logo.alt }}" class="rfss_logo">
        </div>
        <button type="button" class="bg-black close fs-4 rounded-pill text-white" data-bs-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
        <h3 class="refss-full-width-page-title fs-3 fw-bold mb-4">84 Days Refresh Results Guarantee</h3>
        <p>Our #1 priority at Refresh Skin Science is your satisfaction. This means we stand by our product no matter what, bringing you an 84-day money-back challenge if you don't get the desired results after using our product. If you have a problem, we will solve it.</p>
        <p>Just reach out to our Customer Happiness Team to report your concern. We're here for you to make things easier for you! Solutions. Guaranteed.</p>
      </div>
    </div>
  </div>
</div>