<div class="active-ingredient mb-5 mt-5 pb-3 pt-3 pb-md-3 pt-md-3 pb-lg-5 pt-lg-5">
  <div class="container  pb-1 pt-1 pb-md-3 pt-md-3 pt-lg-5 pb-lg-5">
    <div class="align-items-center row">
      <div class="col-md-6">
          <img src="{{ 'ing.jpeg' | asset_url }}" alt="" class="lazyload d-md-block d-none lazyload text-center">
      </div>
      <div class="col-md-5 offset-md-1">
        <div>
          <span class="d-block fs-5 mb-2 rfss-grey text-uppercase">Clinically-Proven</span>
          <h2 class="fs-1 fw-bolder mb-4 mb-md-3 mb-lg-5">Active Ingredients</h2>
          <p>We believe it shouldn't be necessary to use a dozen different products to accomplish your skincare goals. With clean, non-toxic ingredients that pass hundreds of different tests, we have produced a line of skincare products designed to target specific skin concerns for effective results.</p>
          <div class="rfss-hm-two-ctn mt-3 mt-md-3 mt-lg-5 ">
            <a href="/pages/ingredients">
              <button class="w-75 mt-4">Explore our Ingredients
                <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/right-arrow-thin.svg?v=25521640411634951531663145304" class="lazyload">
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>