<div id="contact" class="modal fade" role="dialog" style="display: none;" aria-modal="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="site-logo">
          <img src="{{ settings.rfss_logo | img_url: '150x150'}}" alt="{{ settings.rfss_logo.alt }}" class="rfss_logo">
        </div>
        <button type="button" class="bg-black close fs-4 rounded-pill text-white" data-bs-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
        <h3 class="refss-full-width-page-title fs-3 fw-bold mb-4">Contact Us</h3>
        <p>
          <b>Email:</b>
          support@refreshskinscience.com</p>
        <p>
          <b>Phone:</b>
          8565992992</p>
        <p>
          <b>Address:</b><br>
          Visionary Skincare Pvt Ltd<br>
          128 Duraiswamy Naidu Layout,<br>
          Peelamedu<br>
          Coimbatore - 641004<br>
          Tamilnadu, India
        </p>
      </div>
    </div>
  </div>
</div>