<div class="footer_liquid pb-5 pt-5">
  <div class="container pt-3 pb-3">
    <div class="d-flex justify-content-center">
      <a href="https://www.facebook.com/profile.php?id=100086442758033" target="_blank">
        <svg
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M17.8793 0C8.15194 0 0.266602 7.88534 0.266602 17.6127C0.266602 27.34 8.15194 35.2253 17.8793 35.2253C27.6066 35.2253 35.492 27.34 35.492 17.6127C35.492 7.88534 27.6066 0 17.8793 0ZM22.0513 12.1711H19.4039C19.0901 12.1711 18.7416 12.5839 18.7416 13.1325V15.0442H22.0531L21.5523 17.7705H18.7416V25.9548H15.6171V17.7705H12.7826V15.0442H15.6171V13.4407C15.6171 11.14 17.2133 9.2705 19.4039 9.2705H22.0513V12.1711Z" fill="black" />
        </svg>
      </a>
      <a href="https://www.instagram.com/refresh_skinscience/" target="_blank">
        <svg
          width="36"
          height="36"
          class="ms-4 me-4"
          viewBox="0 0 36 36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M17.6284 11.7393C14.3944 11.7393 11.7552 14.3786 11.7552 17.6127C11.7552 20.8468 14.3944 23.4861 17.6284 23.4861C20.8625 23.4861 23.5017 20.8468 23.5017 17.6127C23.5017 14.3786 20.8625 11.7393 17.6284 11.7393ZM35.2439 17.6127C35.2439 15.1805 35.2659 12.7703 35.1293 10.3425C34.9927 7.5226 34.3495 5.01991 32.2874 2.95783C30.221 0.891352 27.7227 0.252461 24.9029 0.11587C22.4707 -0.0207202 20.0606 0.00131058 17.6329 0.00131058C15.2007 0.00131058 12.7906 -0.0207202 10.3629 0.11587C7.54297 0.252461 5.04032 0.895758 2.97829 2.95783C0.911843 5.02432 0.272964 7.5226 0.136376 10.3425C-0.000212012 12.7747 0.0218184 15.1849 0.0218184 17.6127C0.0218184 20.0405 -0.000212012 22.455 0.136376 24.8828C0.272964 27.7027 0.916249 30.2054 2.97829 32.2675C5.04473 34.334 7.54297 34.9729 10.3629 35.1095C12.795 35.2461 15.2051 35.224 17.6329 35.224C20.065 35.224 22.4751 35.2461 24.9029 35.1095C27.7227 34.9729 30.2254 34.3296 32.2874 32.2675C34.3539 30.201 34.9927 27.7027 35.1293 24.8828C35.2703 22.455 35.2439 20.0449 35.2439 17.6127ZM17.6284 26.6497C12.6276 26.6497 8.59161 22.6136 8.59161 17.6127C8.59161 12.6117 12.6276 8.57567 17.6284 8.57567C22.6293 8.57567 26.6653 12.6117 26.6653 17.6127C26.6653 22.6136 22.6293 26.6497 17.6284 26.6497ZM27.0354 10.3161C25.8678 10.3161 24.9249 9.37318 24.9249 8.20555C24.9249 7.03792 25.8678 6.09501 27.0354 6.09501C28.203 6.09501 29.1459 7.03792 29.1459 8.20555C29.1462 8.48281 29.0919 8.75741 28.986 9.01363C28.88 9.26985 28.7246 9.50266 28.5285 9.69871C28.3325 9.89476 28.0997 10.0502 27.8435 10.1562C27.5872 10.2621 27.3126 10.3164 27.0354 10.3161Z" fill="black" />
        </svg>
      </a>
      <a href="https://twitter.com/science_refresh" target="_blank">
        <svg
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M18.3873 0C8.66105 0 0.774658 7.88639 0.774658 17.6127C0.774658 27.339 8.66105 35.2253 18.3873 35.2253C28.1136 35.2253 36 27.339 36 17.6127C36 7.88639 28.1136 0 18.3873 0ZM26.8516 13.2763C26.8634 13.4611 26.8634 13.6538 26.8634 13.8425C26.8634 19.6138 22.4681 26.2618 14.4363 26.2618C11.9595 26.2618 9.66355 25.5423 7.72931 24.3039C8.08313 24.3432 8.42123 24.359 8.78292 24.359C10.8272 24.359 12.7065 23.667 14.2043 22.4955C12.2858 22.4562 10.6739 21.1981 10.1235 19.4683C10.7958 19.5666 11.4012 19.5666 12.0932 19.3897C11.1053 19.189 10.2174 18.6525 9.58027 17.8713C8.94316 17.0901 8.59613 16.1125 8.59815 15.1044V15.0494C9.17606 15.3757 9.85619 15.5762 10.5678 15.6037C9.96958 15.2051 9.47901 14.665 9.13954 14.0313C8.80008 13.3976 8.62222 12.69 8.62173 11.9711C8.62173 11.1573 8.83403 10.4143 9.21538 9.76953C10.3119 11.1193 11.6801 12.2233 13.2312 13.0097C14.7822 13.796 16.4814 14.2472 18.2183 14.3339C17.6011 11.3657 19.8184 8.96359 22.4839 8.96359C23.7419 8.96359 24.8741 9.4904 25.6722 10.3396C26.659 10.1548 27.6025 9.78526 28.4439 9.2899C28.1175 10.3003 27.4335 11.1534 26.5253 11.692C27.406 11.5976 28.2551 11.3539 29.0414 11.0119C28.4478 11.8846 27.7048 12.6591 26.8516 13.2763Z" fill="black" />
        </svg>
      </a>
    </div>
    <div class="nav-menu-item">
      <ul class="nav-menu-ul ps-0">

        <li class="menu-item">
          <a href="/pages/our-story" class="menu_item_link">OUR STORY
          </a>
        </li>
        <li class="menu-item">
          <a href="/blogs/blog" class="menu_item_link">BLOG</a>
        </li>
        <li
          class="menu-item me-0 me-md-5"
          data-bs-toggle="modal"
          data-bs-target="#shippingandreturns">RETURNS &amp; EXCHANGE
        </li>
        {%- comment -%}
        <li class="menu-item">
        <a href="/pages/refer-and-earn" class="menu_item_link">REFER &amp; EARN</a>
        </li>
        {%- endcomment -%}
        <li
          class="menu-item"
          data-bs-toggle="modal"
          data-bs-target="#contact">CONTACT US
        </li>
      </ul>
    </div>

    <div class="copy-right-txt text-center">
      <p class="mb-0 rfss-grey">Refresh Skin Science © {{ 'now' | date: '%Y' }}. | A Supercluster Pi Brand | All Rights Reserved.
        <span data-bs-toggle="modal" data-bs-target="#terms_condition">Terms & Conditions</span>
        |
        <span data-bs-toggle="modal" data-bs-target="#privacy_policy">Privacy Policy
        </span>
      </p>
    </div>
  </div>
</div>
<script src="//cdn.shopify.com/s/files/1/0617/7298/8603/files/optimizer.js?v=1659207041" type="text/javascript"></script>
{%- include '84-days' -%}
{%- include 'privacy_policy' -%}
{%- include 'returns_exchange' -%}
{%- include 'terms_condition' -%}
{%- include 'contact' -%}