<div class="rf-ingredients-ban"></div>                                                          
<div class="rf-section-one mt-5 mt-md-5">                        
  <div class="m-auto w-63 text-center">                      
     <div class="fs-2">                  
       We're on a mission to drive transparency about what is (and isn't) in your skincare routine. 
     </div>                                                                                                                     
    <p class="para pt-3 rfss-grey">                                             
      We're on a mission to drive transparency about what is (and isn't) in your skincare routine. We do the research, so you don't have to. Our natural skincare will forever be vegan, leaping bunny certified, cruelty-free, gluten-free and free of over 2,500 other toxic ingredients.  
    </p>
    <p class="para pt-3 rfss-grey"> While the term “natural” is an unregulated term, for Refresh Skincare it means we only work with “plant/mineral raw ingredients that undergo chemical changes due to chemical and/or biological processes such as transesterification, fermentation, distilling etc.”  
    </p>                                                                                                                                                                                                
    <div class="d-flex justify-content-center ingredient_pics mb-2 mt-2 mb-md-5 mt-md-5 pb-4 pt-3" >                                 
        <picture>                                                                                                                                                                                                                                                                                                                                                                                                                                               
            <source srcset="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/no-harsh-webp.webp?v=69933787500328992321663073462" type="image/webp">               
            <source srcset="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/no-harsh.png?v=100298802204026482391663073463" type="image/png">             
            <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/no-harsh.png?v=100298802204026482391663073463" alt="" class="w-100">                     
        </picture>                                                                                                                                                                                                                                                                                               
        <picture>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
          <source srcset="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/paraben-free-webp.webp?v=12362115384015953561663073463" type="image/webp">        
          <source srcset="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/paraben-free.png?v=15226312295533490291663073464" type="image/png">  
          <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/paraben-free.png?v=15226312295533490291663073464" alt="" class="w-100">  
        </picture>                                                                                                                                                                                                             
        <picture>                                                                                                                                                                                                                                                                                                                                    
          <source srcset="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/sulphates-free-webp.webp?v=34297783167934961891663073465" type="image/webp">             
          <source srcset="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/sulphates-free.png?v=140549291270442205021663073465" type="image/png">    
          <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/sulphates-free.png?v=140549291270442205021663073465" alt="" class="w-100">         
        </picture>                                                                                                                                                         
        <picture>                                                                                                                                                                                                                                                                                       
          <source srcset="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/curelty-free-webp.webp?v=19165543669306195501663073461" type="image/webp">           
          <source srcset="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/curelty_free.png?v=172379311793888262241663073462" type="image/png">         
          <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/curelty_free.png?v=172379311793888262241663073462" alt="" class="w-100">                 
        </picture>                                                                                                                  
       </div>                                                         
  </div>                                                   
</div> 