<div class="pt-5 pb-5 footer_liquid lets-know-ing">
  <div class="container">
    <span class="d-block fs-5 mb-2 rfss-grey text-uppercase mt-5 pt-5 text-center">Our building blocks</span>
    <h1 class="fw-bolder mb-5 text-center">ingredients</h1>
      <div class="glide mt-5 pt-5 pb-5 mb-5 text-center" id="ingredients">
    <div class="glide__track" data-glide-el="track">
      <div class="glide__slides">
          <div class="glide__slide"> 
        <div class="white-box">
          <div class="wb-name">Berry</div>
        </div>
        <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/berry.svg">
      </div>
      <div class="glide__slide"> 
        <div class="white-box">
          <div class="wb-name">Rosehip Oil</div>
        </div>
        <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/Rose-Hips%201.svg">
      </div>
      <div class="glide__slide"> 
        <div class="white-box">
          <div class="wb-name">Orange</div>
        </div>
        <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/pngegg%20(4).svg">
      </div>
      <div class="glide__slide"> 
        <div class="white-box">
          <div class="wb-name">Avocado</div>
        </div>
        <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/SeekPng.svg">
      </div>
      <div class="glide__slide"> 
        <div class="white-box">
          <div class="wb-name">strawberry</div>
        </div>
        <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/strawberry.svg">
      </div>
    </div>
  </div>
</div>
  </div>
</div>
<script>
  if(document.querySelector("#ingredients")){new Glide("#ingredients",{type:"carousel",autoplay: 4000,perView:5,breakpoints:{0:{perView:1.3},300:{perView:1.3},600:{perView:1.3},800:{perView:4},1000:{perView:5}}}).mount();}
</script>
