<div class="bg-black overflow-hidden mt-2 mt-md-5 rf-section-two">
  <div class="rfss-marquee-highlight pt-2 pb-2 pt-md-4  pb-md-4 d-flex justify-content-between">
    <div class="high-item d-flex align-items-center">
      <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/free-shipping-w.svg5" alt="">
      <span class="ps-3 text-capitalize">Free Shipping</span>
    </div>
    <div class="high-item d-flex align-items-center">
      <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/customer-support-w.svg" alt="">
      <span class="ps-3 text-capitalize">Unmatched Customer Support</span>
    </div>
    <div class="high-item d-flex align-items-center text-center">
      <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/secure-payment-w.svg" alt="">
      <span class="ps-3 text-capitalize">Secure Payment</span>
    </div>
    <div class="high-item d-flex align-items-center">
      <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/84days-w.svg" alt="">
      <span class="ps-3 text-capitalize">84 days money back guarantee</span>
    </div>
    <div class="high-item d-flex align-items-center">
      <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/problem-solviing-w.svg" alt="">
      <span class="ps-3 text-capitalize">Problem solving skincare</span>
    </div>
    <div class="high-item d-flex align-items-center">
      <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/trust-w.svg" alt="">
      <span class="ps-3 text-capitalize">10,000+ trusted customers</span>
    </div>
    <div class="high-item d-flex align-items-center">
      <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/free-shipping-w.svg" alt="">
      <span class="ps-3 text-capitalize">Free Shipping</span>
    </div>
    <div class="high-item d-flex align-items-center">
      <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/customer-support-w.svg" alt="">
      <span class="ps-3 text-capitalize">Unmatched Customer Support</span>
    </div>
    <div class="high-item d-flex align-items-center text-center">
      <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/secure-payment-w.svg" alt="">
      <span class="ps-3 text-capitalize">Secure Payment</span>
    </div>
    <div class="high-item d-flex align-items-center">
      <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/84days-w.svg" alt="">
      <span class="ps-3 text-capitalize">84 days money back guarantee</span>
    </div>
    <div class="high-item d-flex align-items-center">
      <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/problem-solviing-w.svg" alt="">
      <span class="ps-3 text-capitalize">Problem solving skincare</span>
    </div>
    <div class="high-item d-flex align-items-center">
      <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/trust-w.svg" alt="">
      <span class="ps-3 text-capitalize">10,000+ trusted customers</span>
    </div>
  </div>
</div>