<div class="active-ingredient mb-5 mt-5  pt-5">
  <div class="container pb-5 pt-5 mb-5">
    <div class="align-items-center row">
      <div class="col-md-6">
        <picture>
          <source srcset="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/ingredients-rfss.webp?v=166116669131033992901663233874" type="image/webp">
          <source srcset="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/ingredients-rfss.jpg?v=74106438974424597531663233874" type="image/jpg">
          <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/ingredients-rfss.jpg?v=74106438974424597531663233874" alt="" class="w-100">
        </picture>
      </div>
      <div class="col-md-5 offset-md-1">
        <div>
          <span class="d-block fs-5 mb-2 rfss-grey text-uppercase">Making Skincare simple</span>
          <h2 class="fw-bolder fs-1 mb-4">Your Skin Our priority</h2>
          <p>Refresh Skin Science focuses on science driven and performance based skincare products to keep your skin healthy looking and young. Our rigid testing ensures that nothing touches your skin if it doesn’t belong there.</p>
          <!-- <div class="rfss-hm-two-ctn mt-5"> 
          <button class="w-75 mt-4">Explore our Ingredients         
          <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/right-arrow-thin.svg?v=25521640411634951531663145304"> 
          </button>           
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>