<div class="active-ingredient faq-ing mb-5 mt-5 pb-5">
  <div class="container pb-5 mb-5">
    <div class="row align-items-end">
      <div class="col-md-6">
        <div class="mb-5 mb-md-0">
          <span class="d-block fs-5 mb-2 rfss-grey text-uppercase mt-5 pt-5">Let's know</span>
          <h2 class="fw-bolder fs-1 mb-3 mb-md-5">Ingredients <br/> We disapprove of</h2>
          <div class="accordion accordion-flush" id="accordionFaqIngredient">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Parabens
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFaqIngredient">
                <div class="accordion-body">These are preservatives that are found in a variety of cosmetics which can cause the skin to become brittle, damaged, irritated, swollen, develop rashes, and a variety of other issues.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Sulphates
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFaqIngredient">
                <div class="accordion-body">They strip your skin's natural oils and causes dryness, irritation and worse, allergic reactions</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Alcohol
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFaqIngredient">
                <div class="accordion-body">Alcohol is known to dry the skin, robbing it of the available nutrients it needs to maintain a healthy, young appearance.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                  Formaldehyde
                </button>
              </h2>
              <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFaqIngredient">
                <div class="accordion-body">Formaldehyde is used as a preservative to prolong shelf life and prevent bacterial contamination however formaldehyde is a known carcinogen that can have dangerous implications on your skin.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <picture>
          <source srcset="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/raf-img-new.webp" type="image/webp">
          <source srcset="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/raf-img-new.jpg" type="image/jpg">
          <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/raf-img-new.jpg" alt="" class="w-100">
        </picture>
      </div>
    </div>
  </div>
</div>