<div class="pt-5 pb-5 quality-cut">
  <div class="container ">
    <span class="d-block fs-5 mb-2 rfss-grey text-uppercase mt-1 pt-2 text-center">Premium skincare products with</span>
    <h2 class="fw-bolder mb-5 text-center">Quality - A cut above</h2>
    <div class="w-75 text-center m-auto desktop-view-only">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="grey-box">
            <img src="https://cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/clinically.svg">
            <div class="auality-nme">Clinically proven<br/>ingredients</div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="grey-box">
            <img src="https://cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/dermatologist.svg">
            <div class="auality-nme">Dermatologist
              <br/>approved</div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="grey-box">
            <img src="https://cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/Tailored.svg">
            <div class="auality-nme">Tailored for all
              <br/>skin types</div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="grey-box">
            <img src="https://cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/Revolutionary.svg">
            <div class="auality-nme">Revolutionary
              <br/>Ingredients</div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="grey-box">
            <img src="https://cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/noharsh.svg">
            <div class="auality-nme">No Harsh
              <br/>Chemicals
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="grey-box">
            <img src="https://cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/performance.svg">
            <div class="auality-nme">Performance based
              <br/>ingredients</div>
          </div>
        </div>
      </div>
      <div class="rfss-hm-two-ctn mt-5">
        <a href="/collections/all-products">
          <button class="mt-4">Shop All
            <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/right-arrow-thin.svg?v=25521640411634951531663145304">
          </button>
        </a>
      </div>
    </div>
    <div class="mobile-view-only">
       <div class="glide text-center" id="quality">
    <div class="glide__track" data-glide-el="track">
      <div class="glide__slides">
          <div class="glide__slide"> 
          <div class="grey-box">
            <img src="https://cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/clinically.svg">
            <div class="auality-nme">Clinically proven<br/>ingredients</div>
          </div>
        </div>
        <div class="glide__slide"> 
          <div class="grey-box">
            <img src="https://cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/dermatologist.svg">
            <div class="auality-nme">Dermatologist
              <br/>approved</div>
          </div>
        </div>
        <div class="glide__slide"> 
          <div class="grey-box">
            <img src="https://cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/Tailored.svg">
            <div class="auality-nme">Tailored for all
              <br/>skin types</div>
          </div>
        </div>
        <div class="glide__slide"> 
          <div class="grey-box">
            <img src="https://cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/Revolutionary.svg">
            <div class="auality-nme">Revolutionary
              <br/>Ingredients</div>
          </div>
        </div>
        <div class="glide__slide"> 
          <div class="grey-box">
            <img src="https://cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/noharsh.svg">
            <div class="auality-nme">No Harsh
              <br/>Chemicals
            </div>
          </div>
        </div>
        <div class="glide__slide"> 
          <div class="grey-box">
            <img src="https://cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/performance.svg">
            <div class="auality-nme">Performance based
              <br/>ingredients</div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>
<script>
  if(document.querySelector("#quality")){new Glide("#quality",{type:"carousel",autoplay: 4000,perView:5,breakpoints:{0:{perView:1.3},300:{perView:1.3},600:{perView:1.5},800:{perView:4},1000:{perView:5}}}).mount();}
</script>
