<div class="bg-light overflow-hidden">
  <div class="rfss-marquee-highlight pt-4   pb-4 d-flex">
    <div class="high-item d-flex align-items-center">
      <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/free-shipping-ion.svg?v=81554995279482355881663251665" alt="">
      <span class="ps-3 text-capitalize">Free Shipping</span>
    </div>
    <div class="high-item d-flex align-items-center">
      <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/cs-support.svg?v=87771714668392183781663251664" alt="">
      <span class="ps-3 text-capitalize">Unmatched Customer Support</span>
    </div>
    <div class="high-item d-flex align-items-center text-center">
      <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/secure-payment.svg?v=159592675927524691441663251667" alt="">
      <span class="ps-3 text-capitalize">Secure Payment</span>
    </div>
    <div class="high-item d-flex align-items-center">
      <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/maony-back.svg?v=100395233735761583191663251666" alt="">
      <span class="ps-3 text-capitalize">84 days money back guarantee</span>
    </div>
    <div class="high-item d-flex align-items-center">
      <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/problem-solving.svg?v=170250457814491779301663251666" alt="">
      <span class="ps-3 text-capitalize">Problem solving skincare</span>
    </div>
    <div class="high-item d-flex align-items-center">
      <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/trusted-customers.svg?v=152981311218306746221663251667" alt="">
      <span class="ps-3 text-capitalize">10,000+ trusted customers</span>
    </div>
    <div class="high-item d-flex align-items-center">
      <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/free-shipping-ion.svg?v=81554995279482355881663251665" alt="">
      <span class="ps-3 text-capitalize">Free Shipping</span>
    </div>
    <div class="high-item d-flex align-items-center">
      <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/cs-support.svg?v=87771714668392183781663251664" alt="">
      <span class="ps-3 text-capitalize">Unmatched Customer Support</span>
    </div>
    <div class="high-item d-flex align-items-center text-center">
      <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/secure-payment.svg?v=159592675927524691441663251667" alt="">
      <span class="ps-3 text-capitalize">Secure Payment</span>
    </div>
    <div class="high-item d-flex align-items-center">
      <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/maony-back.svg?v=100395233735761583191663251666" alt="">
      <span class="ps-3 text-capitalize">84 days money back guarantee</span>
    </div>
    <div class="high-item d-flex align-items-center">
      <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/problem-solving.svg?v=170250457814491779301663251666" alt="">
      <span class="ps-3 text-capitalize">Problem solving skincare</span>
    </div>
    <div class="high-item d-flex align-items-center">
      <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/trusted-customers.svg?v=152981311218306746221663251667" alt="">
      <span class="ps-3 text-capitalize">10,000+ trusted customers</span>
    </div>
  </div>
</div>