<div id="privacy_policy" class="modal fade" role="dialog" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="site-logo">
          <img src="{{ settings.rfss_logo | img_url: '150x150'}}" alt="{{ settings.rfss_logo.alt }}" class="rfss_logo">
        </div>
        <button type="button" class="bg-black close fs-4 rounded-pill text-white" data-bs-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
        <h3 class="refss-full-width-page-title fs-3 fw-bold mb-4">Privacy Policy</h3>
        <p>The privacy statement explains how “Visionary Skincare Private Limited” utilizes and safeguards any information submitted by its website visitors.
        </p>
        <p>“Visionary Skincare Private Limited” is dedicated to keeping your information confidential. You can be reassured that any information we require to identify you on your future visit will be used exclusively in accordance with our privacy policy.</p>
        <p>Please be aware that our privacy policies are subject to change at any moment and without notice. Please examine this policy on a periodic basis to ensure that you stay informed of any changes.</p>
        <p>We gather the information that is provided to us and/or that we collect ourselves in order to provide our core services and products. Your name, address, date of birth, and gender may all be included in this information. This information may be kept on our computer system or in printed records (collectively, information). We will only gather personal information from you wherever you consent to provide such information. We gather data in a variety of methods, including over the phone, in writing, in person, and via the internet. We will notify you or make every effort to tell you that information is being collected or has been collected.</p>
        <h2 class="fs-3 fw-bold">What personal information do we collect?</h2>
        <ul>
          <li>Name and contact information</li>
          <li>E-mail address/IP address/Contact number</li>
          <li>Date of birth</li>
          <li>Demographic information such as address, nationality etc.</li>
          <li>Product interest information</li>
          <li>Any information of you openly shared on the internet</li>
        </ul>
        <p>By using our platform, you provide your consent for collection and usage of the information in accordance with the policy, including but not limited to your consent to share your data in accordance with the policy. We strongly recommend you to read our policy on the collection, use, and sharing of your personal information. If you are not comfortable with any terms or policies stated in this policy, you may opt to discontinue or refrain from using our platform.</p>
        <h2 class="fs-3 fw-bold">How do we use cookies?</h2>
        <p>A cookie is a tiny file that requests permission to be stored on your hard disk. The cookie is added once you consent, and it helps analyze online traffic or notifies you when you access a specific site. Cookies enable online programs to connect to you as a unique person. By acquiring and retaining information about your preferences, the web application can customize its operations to your requirements, likes, and dislikes.</p>
        <p>To determine which pages are being visited, we employ traffic log cookies. This allows us to evaluate web page traffic statistics and develop our website to better meet the demands of our customers. This information is used for statistical analysis posts in which the data is removed from the system.
        </p>
        <p>Overall, cookies assist us in providing a better website to you by allowing us to track which pages you find beneficial and which you do not. A cookie provides us no access to your computer or any other information about you save the information you choose to share with us. You have the option of accepting or declining cookies.</p>
        <p>You have the option of accepting or declining cookies. Most web browsers allow cookies by default. However, you can generally change your browser’s settings to reject cookies if you prefer. This may prohibit you from fully utilizing the website.</p>
        <h2 class="fs-3 fw-bold">Grievance Officer</h2>
        <p>Please contact +91 8565 992 992 (or) email at support@refreshskinscience.com to reach out to our grievance officer.</p>
        <h2 class="fs-3 fw-bold">Disclaimer:</h2>
        <p>To learn more about how cookies are used, please click here. The outcome may differ from person to person. We cannot guarantee that these findings are typical in accordance with FTC decisions. Nothing on this website should be construed as a diagnosis or treatment for any medical condition. Please consult your physician before using our products if you have a medical condition or suspect that you may be allergic to any ingredients found in our products.</p>
      </div>
    </div>
  </div>
</div>