<div id="shippingandreturns" class="modal fade" role="dialog" style="display: none;" aria-modal="true">
  <div class="modal-dialog  modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="site-logo">
          <img src="{{ settings.rfss_logo | img_url: '150x150'}}" alt="{{ settings.rfss_logo.alt }}" class="rfss_logo">
        </div>
        <button type="button" class="bg-black close fs-4 rounded-pill text-white" data-bs-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
        <h3 class="refss-full-width-page-title fs-3 fw-bold mb-4">Shipping &amp; Returns Policy</h3>
        <p>
          <strong>Q. What are the estimated delivery times?</strong><br>
          <strong>A.</strong>
          We deliver your order within 5 to 7 business days.</p>
        <p>
          <strong>Q. Are there any hidden charges when I make the payment?</strong><br>
          <strong>A.</strong>
          There are no such hidden charges when you buy any product from us. The price listed on our website is final and inclusive of all taxes.  The price you see on the product page are the final prices you pay.</p>
        <p>
          <strong>Q. Is it possible to request to change the delivery address at any point in time once the order has been placed?</strong><br>
          <strong>A.</strong>
          The order has been placed but not dispatched.<br>
          Once the order has been placed but not dispatched that means we have received the confirmation and your order is in our warehouse where we are working to get it dispatched. So as your order is still not dispatched, you need to contact our customer service team on
          <strong>support@refreshskinscience.com</strong>
          or call us at
          <strong>(+91 85659 92992)</strong>
          as soon as possible for the changes in the order. Please note for security reasons we will require you to answer a few security questions before we can make any changes to your order.
        </p>
        <p>
          <strong>Q. The order has been placed and dispatched.</strong><br>
          <strong>A.</strong>Once the order has been placed and dispatched, we would be unable to redirect the order to the secondary delivery address. We apologise for any inconvenience caused and our policies are made to provide a better shopping experience for all our customers.<br>
          If our shipper is unable to ship the order at your provided address then the order is automatically returned to our warehouse and processed as a return.<br>
          For any further query write us at
          <strong>support@refreshskinscience.com</strong>
          or call us at
          <strong>(+91 85659 92992)</strong>
        </p>
        <p>
          <strong>Q. Product cannot be shipped to my area, why?</strong><br>
          <strong>A.</strong>
          Although we ship to maximum places in different parts of India, we are continuously working on increasing our reach to make our products easily available to everyone in different locations. But whether the order can or cannot be delivered to your address also depends on:-<br>
          1. Whether our trusted delivery partner can deliver at your address.<br>
          2. Legal Restrictions, if any, on shipping particular products to your location.<br>
          3. The availability of a reliable courier partner in your location.</p>
        <p>
          <strong>Q. I have placed an order, but may not be able to receive it due to unexpected circumstances. Can you hold the delivery until I can receive it?</strong><br>
          <strong>A.</strong>
          If your placed order is not yet dispatched then please contact our customer team on
          <strong>support@refreshskinscience.com</strong>
          or call us at
          <strong>(+91 85659 92992)</strong>
          as soon as possible for the changes. Please note for security reasons we will require you to answer a few security questions before we can make any changes to your order.<br>
          But if your order is already dispatched then we are sorry we won’t be able to hold your delivery.</p>
        <h2 class="fs-3 fw-bold mb-4">Cancellation &amp; Return Policy</h2>
        <p>
          <strong>Q. What is the general return policy on Refresh Products?</strong><br>
          <strong>A.</strong>
          In an event where you’d want to return the product that you purchased from our website, you should inform us either through email:
          <strong>support@refreshskinscience.com</strong>
          or call us at
          <strong>(+91 85659 92992)</strong>
          If the reason for return is valid we do accept returns.</p>
        <p>
          <strong>Few points to consider:</strong><br>
          1. To initiate the return process, email us at
          <strong>support@refreshskinscience.com</strong>
          or call us at
          <strong>(+91 85659 92992)</strong>.<br>
          2. The product should be in its original condition. The product should be unopened, and unused.<br>
          3. Please make sure to return the original invoice and box received with the product.<br>
          4. In case the returned product is found ineligible for a refund, we will send the product back to you.<br>
          5. You will have the option to get a refund, or exchange the product.<br>
          6. In case of a prepaid order, you will receive the refund in your payment method within 7-10 business days.<br>
          7. Replacements are subject to the availability of products.</p>
        <p>
          <strong>Q. What should I do if I receive a defective item or not something which I ordered?</strong><br>
          <strong>A.</strong>
          If you receive a defective product or a different product than what you had ordered, you can inform us by emailing us at
          <strong>support@refreshskinscience.com</strong>
          or call us at
          <strong>(+91 85659 92992)</strong>
          and we will provide you with a refund or replacement depending on the options available.</p>
        <p>
          <strong>Follow these steps to return a damaged, defective or wrong product:</strong><br>
          1. Notify us within 14 days of receiving the products by emailing us at
          <strong>support@refreshskinscience.com</strong>
          or call us at
          <strong>(+91 85659 92992)</strong>. Mention the issue, and whether you want a refund, or a similar product, or a different product.<br>
          2. Return the product in its original packaging, original box, price tags and invoice.</p>
        <p>
          <strong>Note:</strong><br>
          1. Replacements are subject to the availability of particular products.<br>
          2. In case of a prepaid order, you will receive the refund amount in your payment method within 7-10 business days.</p>
        <p>
          <strong>Q. Are there any processing fees for replacements or returns?</strong><br>
          <strong>A.</strong>
          While there is no processing fee for returns or replacements, you will have to pay the difference amount if you are requesting a replacement with a product that is priced higher than the price of the product you want to replace.</p>
        <p>
          <strong>Q. I need to return an item, how do I arrange for a pickup?</strong><br>
          <strong>A.</strong>
          – Email us at:
          <strong>support@refreshskinscience.com</strong>
          or call us at
          <strong>(+91 85659 92992)</strong>
          to initiate the return of your item.<br>
          – Once you email us, you will receive a call from us in which we will explain the return process.<br>
          – We will arrange for the pick-up of the item through our courier partners if a pickup is available.</p>
        <p>
          <strong>Q. In case of a refund, in how many days will the money be refunded?</strong><br>
          <strong>A.</strong>
          Once we process the refund request, you will receive the refunded amount in 7-10 business days.</p>
        <p>
          <strong>Q. In how many days will the product be delivered in the product replacement process?</strong><br>
          <strong>A.</strong>
          We will deliver you the replacement product within 10-15 working days after your request for the replacement of the product is approved by us.</p>
        <p>
          <strong>Q. I have placed an order but due to some reason, I need to cancel it. Can I do that?</strong><br>
          <strong>A.</strong>
          An order once placed can not be cancelled. To check more about order cancellation please Email us at:
          <strong>support@refreshskinscience.com</strong>
          or call us at
          <strong>(+91 85659 92992)</strong>
          to know the status of your order.</p>
      </div>
    </div>
  </div>
</div>