<!-- /templates/customers/reset_password.liquid -->
<div class="login_page">
  <div class="container">
    <div class="row align-items-center" style="height: 85vh;">
      <div class="col-md-6">
        <div id="login_form" class="login_form  col-12 col-md-11  col-lg-9">
          <h2 class="fs-2 mb-4">Reset Password</h2>
          </p>

          {% form 'reset_customer_password' %}

            {{ form.errors | default_errors }}

            <div class="mb-4 row">
              <label for="password" class="col-sm-4 col-form-label p-2">Password</label>
           <div class="col-sm-8">
            <input type="password" value="" name="customer[password]" size="16"/>
           </div>
           </div>
           
           <div class="mb-4 row">
            <label for="password_confirmation"  class="col-sm-4 col-form-label p-2">Password Confirmation</label>
         <div class="col-sm-8">
          <input type="password" value="" name="customer[password_confirmation]" size="16"/>
        </div>
         </div>
         <hr class="mt-2 mb-4"></hr>
                <div class="mb-4">
                    <input type="submit" value="Reset Password" class="bg-black btn float-end text-white w-50 p-2"/>          
               </div>
           

          {% endform %}
        </div>


      </div>
      <div class="col-md-6 text-center"></div>
    </div>
  </div>
</div>