  <div class="container">
     <div class="sckincare-regime position-relative">

      <div class="row">
         <div class="col-md-10 offset-md-0 col-lg-6 offset-lg-5">
            <div class="bg-white m-2 m-md-5 p-5 ps-4 pe-4 skincare-regime">
               <h2 class="skincare-regime-title fw-bolder mb-4 rfss-black">The complete skincare regime by Refresh Skin Science to bring out your best skin!</h2>
               <p class="fs-5 rfss-grey">
                 <span>• Extracts pollutants and nasties from skin </span>
                 <span>• Boosts production of collagen to nourish</span>
                 <span>• Rejuvenates and detoxifies skin</span>
                 <span>• Rids the skin of dirt and bacteria</span>
                 <span>• Reduces the appearance of blemishes</span>
                 <span>• Maintains the skin’s healthy cells</span> 
                 </p>
            </div>
           <img src="{{ 'bubble.png' | asset_url }}" class="bubble">
         </div>
      </div>
  </div>
</div>

{% stylesheet %}
{% endstylesheet %}
{% schema %}
  {
    "name": "regime-kit",
    "class" : "regime-kit",
    "settings": [
     
    ]
  }
{% endschema %}

{% javascript %}
{% endjavascript %}