<div class="our-story-banner">
  <h1 class="mb-0">Our Story</h1>
</div>

<div class="our-story-sec-2">
  <div class="container">
    <div class="para fs-1 m-auto text-center w-63">Skincare is our work. Changing the game is our hustle.</div>
  </div>
</div>