<div class="our-story-sec-5">
  <div class="container">
    <div class="m-auto pt-5 w-75">
      <h2 class="main-para fs-1 fw-bold text-center text-capitalize pb-3">Our Promise To you</h2>

         <div class="glide pt-5 pb-5 mb-5" id="promise">
    <div class="glide__track" data-glide-el="track">
      <div class="glide__slides">
        <div class="glide__slide">
          <img src="https://cdn.shopify.com/s/files/1/0577/7129/4793/files/promise_two.jpg?v=1670572055">
          <div class="fs-4 fw-bold mt-3 pro-name">Honest</div>
          <div class="rfss-grey">No nonsense</div>
        </div>
        <div class="glide__slide">
          <img src="https://cdn.shopify.com/s/files/1/0577/7129/4793/files/promise_one.jpg?v=1670572056">
          <div class="fs-4 fw-bold mt-3 pro-name">Open</div>
          <div class="rfss-grey">For the many, not the few</div>
        </div>
        <div class="glide__slide">
          <img src="https://cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/Promise-3.jpg">
          <div class="fs-4 fw-bold mt-3 pro-name">Guaranteed</div>
          <div class="rfss-grey">If we don’t live up to your expectations, get your money back, no questions asked. Every time.</div>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>
<script>
  if(document.querySelector("#promise")){new Glide("#promise",{type:"carousel",perView:3,gap:40,breakpoints:{0:{perView:1.5},300:{perView:1.5},600:{perView:2.5},800:{perView:2.5},1000:{perView:3}}}).mount();}
</script>
