<div class="our-story-sec-4 find-your-skin-type mb-5 pb-5 pt-5 text-center">
  <div class="container">
    <div class="video-section mb-3 pb-5" id="video-sec">
      <iframe width="75%" height="500" src="https://www.youtube.com/embed/5Ug8_Nw-kKs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      {%- comment -%}
        <img class="gif_img w-100 pt-4" src="https://cdn.shopify.com/s/files/1/0577/7129/4793/files/refressh-home-gif.gif?v=1663229373">
      {%- endcomment -%}
    </div>
    <div class="w-83 pt-3 pb-4 m-auto fs-pa">A flawless complexion is a dream for many! You know they exist and would be amazing to have, but being a person with one seems    
      desperately out of reach. While expensive cleansers, fillers, and anti-aging creams can provide temporary solutions, they're more likely to                    
                                                        rid you of your hard-earned cash than your complexion issues. That's why we came upon the idea of creating a  problem solving skincare brand         
                                                        because we believe real change has to come from the inside out.</div>

    <div class="m-auto w-rfss-75">
      <div class="glide mb-5 mt-5" id="moneyback">
    <div class="glide__track" data-glide-el="track">
      <div class="glide__slides">
        <div class="glide__slide">
          <div class="p-4 pt-5 pb-3 black-box">
            <img src="https://cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/cli-1.png" class="w-20">
            <span class="d-block fs-5 mt-3 pb-2 text-capitalize">Clinically proven formulation</span>
            <p>Our goal is to help consumers by creating products that are scientifically proven to tackle skincare problems.</p>
          </div>
        </div>
        <div class="glide__slide">
          <div class="p-4 pt-5 pb-3 black-box">
            <img src="https://cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/cli-2.png" class="w-20">
            <span class="d-block fs-5 mt-3 pb-2 text-capitalize">100% Money Back Guarantee</span>
            <p>Our #1 priority at Refresh Skin Science is your satisfaction. This means we stand by our product no matter what.</p>
          </div>
        </div>
       <div class="glide__slide">
          <div class="p-4 pt-5 pb-3 black-box">
            <img src="https://cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/cli-3.png" class="w-20">
            <span class="d-block fs-5 mt-3 pb-2 text-capitalize">Curated line of skincare products</span>
            <p>Making run-of-the-mill products to tackle your day-to-day skincare problems is just not our niche.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>

  </div>
</div>
<script>
  if(document.querySelector("#moneyback")){new Glide("#moneyback",{type:"carousel",perView:3,breakpoints:{0:{perView:1.5},300:{perView:1.5},600:{perView:1.5},800:{perView:2.5},1000:{perView:3}}}).mount();}
</script>
