<div class="our-story-sec-3 pt-5 pb-5 ">
  <div class="m-auto pt-5 text-center w-75">
    <h2 class="main-para fs-1 fw-bold">Over 1000 5-star reviews and counting</h2>
  </div>
  <div class="container pb-5 pt-5">
    <div class="align-items-center row">
      <div class="col-lg-6 col-md-12">
        <div class="text-center ">
          <ul class="nav nav-tabs pb-3 justify-content-md-betweena justify-content-md-betweena" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Effective</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Natural</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#transparent" type="button" role="tab" aria-controls="contact" aria-selected="false">Transparent</button>
            </li>
          </ul>
          <div class="tab-content pt-5" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <h3 class="fs-3 fw-bolder mb-5">All our ingredients have full-time jobs.</h3>
              <p>We have received thousands of five star reviews and countless amazing before and afters from our community. We understand that results are important to our customers, and that's why its at the forefront of our mission.</p>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <h3 class="fs-3 fw-bolder mb-5">All our ingredients have full-time jobs.</h3>
              <p>We have received thousands of five star reviews and countless amazing before and afters from our community. We understand that results are important to our customers, and that's why its at the forefront of our mission.</p>
            </div>
            <div class="tab-pane fade" id="transparent" role="tabpanel" aria-labelledby="contact-tab">
              <h3 class="fs-3 fw-bolder mb-5">All our ingredients have full-time jobs.</h3>
              <p>We have received thousands of five star reviews and countless amazing before and afters from our community. We understand that results are important to our customers, and that's why its at the forefront of our mission.</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-lg-5 offset-lg-1 col-md-12 d-none d-md-none d-lg-block">        
          <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/ourstory-rev.jpg" alt="" class="lazyload w-100">       
      </div>
    </div>
  </div>
</div>
