<div class="our-story-sec-6 pt-5 pb-5 footer_liquid">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-md-5">
        <div class="rfss-hm-two-ctn ">
          <h2 class="main-para fs-1">Stellar Skin Care
            <br/>
            <span class="fw-normal">Commitment</span>
          </h2>
          <p>We can give you so many reasons to trust and choose Refresh Skin Science. We're committed to giving you the highest quality in anything you purchase from us.</p>
        </div>
      </div>
      <div class="col-md-7">
    <div class="glide text-center" id="skin-care">
    <div class="glide__track" data-glide-el="track">
      <div class="glide__slides">
        <div class="glide__slide">
            <div class="skin-care-box m-auto pt-5 pb-5">
              <img class="m-auto mt-4 mb-4" src="https://cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/GMP.png">
            </div>
            <div class="pt-2 skn-nme">Good Manufacturing practice</div>
            <p class="pt-1 skn-nmp">We ensure that all our products are consistently produced and controlled according to quality standards. It is designed to minimise the risks involved in
              production that cannot be eliminated through testing the final product.</p>
            <div class="rfss-hm-two-ctn mt-5">
              <a href="/collections/all-products">
                <button class="w-100 mt-4 text-center ">
                  <span style="position: relative;">View Shop</span>
                  <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/right-arrow-thin.svg?v=25521640411634951531663145304" class="ms-1 mt-1">
                </button>
              </a>
            </div>
            <p class="pt-1 rfss-grey text-center">-
              <b>84 Days</b>
              Money Back Guarantee -</p>
          </div>

          <div class="glide__slide">
            <div class="skin-care-box m-auto pt-5 pb-5">
              <img class="m-auto mt-4 mb-4" src="https://cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/FDCA.png">
            </div>
            <div class="pt-2 skn-nme">FDCA Approved</div>
            <p class="pt-1 skn-nmp">Our products have been reviewed by CDER, & clinically tested by top dermatologists to ensure that they are safe and effective for their intended use.</p>
            <div class="rfss-hm-two-ctn mt-5">
              <a href="/pages/ingredients">
                <button class="w-100  mt-4 text-center">
                  <span>Explore Ingredients</span>
                  <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/right-arrow-thin.svg?v=25521640411634951531663145304" class="ms-1 mt-1">
                </button>
              </a>
            </div>
            <p class="pt-1 rfss-grey text-center">-
              <b>84 Days</b>
              Only The Best -</p>
          </div>

                 <div class="glide__slide">
            <div class="skin-care-box m-auto pt-5 pb-5">
              <img class="m-auto mt-4 mb-4" src="https://cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/GMP.png">
            </div>
            <div class="pt-2 skn-nme">Dermatologically Approved</div>
            <p class="pt-1 skn-nmp">Not only are our products developed with top cosmetic scientists and dermatologists, but Refresh Skin Science is the #1 dermatologist recommended skincare brand. Whether you want to decrease fine lines and wrinkles, get rid of acne, or get a fresh start to your day, experience the power of premium skincare products with Refresh Skin Science.</p>
            <div class="rfss-hm-two-ctn mt-5">
              <a href="/collections/all-products">
                <button class="w-100 mt-4 text-center ">
                  <span style="position: relative;">View Shop</span>
                  <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/right-arrow-thin.svg?v=25521640411634951531663145304" class="ms-1 mt-1">
                </button>
              </a>
            </div>
            <p class="pt-1 rfss-grey text-center">-
              <b>84 Days</b>
              Money Back Guarantee -</p>
          </div>
        </div>
        </div>
      <div data-glide-el="controls">
    <button class="slider__arrow slider__arrow--prev glide__arrow glide__arrow--prev" data-glide-dir="<">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
        <path d="M0 12l10.975 11 2.848-2.828-6.176-6.176H24v-3.992H7.646l6.176-6.176L10.975 1 0 12z"/></path>
      </svg>
    </button>

    <button class="slider__arrow slider__arrow--next glide__arrow glide__arrow--next" data-glide-dir=">">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
        <path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"/></path>
      </svg>
    </button>
</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  if(document.querySelector("#skin-care")){new Glide("#skin-care",{type:"carousel",perView:2,gap:40,breakpoints:{0:{perView:1},300:{perView:1},600:{perView:1},800:{perView:2},1000:{perView:2}}}).mount();}
</script>
