<section class="rfss-product-section-six mt-5 pt-5 mb-5 pb-5">
  <div class="container">
    <h3 class="fs-1 fw-bold mb-5 text-center text-capitalize w-75 m-auto">Why more than 10K+ users just <br> love <img style="width: 50px;margin-top: -12px;" src="https://cdn.shopify.com/s/files/1/0577/7129/4793/files/review_icon_png.png?v=1673028680"> Refresh Skin Science?</h3>
    <div id="wc_review_section" class="wc_review_main_content" data-url="{{ shop.url }}" data-handle="{{ product.handle }}" data-product_id="{{ product.id }}" data-limit="0"></div>
  </div>
</section>

<style>
  .wc_review_top_title {
    display: none;
  }
</style>