<section class="serum_works pb-2 pt-2 pb-md-5 pt-md-5">
  <div class="container mb-3 mt-3  pt-2 ">
    {%- comment -%}
      <h2 class="fs-1 fw-bolder text-center">{{ section.settings.hw_se_works_title }}
      </h2>
    {%- endcomment -%}
    <h2 class="fs-1 fw-bolder text-center">What Makes US - YOUR BEST CHOICE?
    </h2>

    <table class="m-auto w-50">
      <tr>
        <th>Category</th>
        <th>Refresh Products</th>
        <th>Other Serums</th>
      </tr>
      {% for block in section.blocks %}
        <tr>
          <td>{{ block.settings.item_title }}
          </td>
          <td class="text-center">
            {%  if block.settings.refresh_product == 'yes' %}
              <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.0117261 13.0704C0.019243 5.92764 5.84946 0.110759 12.9709 0.140248C20.1235 0.169738 25.8872 5.95019 25.8779 13.0843C25.8681 20.2438 20.0662 26.0335 12.9275 26.0063C5.77603 25.9797 0.00420919 20.1981 0.0117261 13.0704ZM11.257 15.2578C11.1292 15.0976 11.0697 15.0091 10.9968 14.9334C10.1688 14.0742 9.34367 13.2126 8.50756 12.3615C8.07389 11.9203 7.44594 11.9394 7.0539 12.384C6.69945 12.7865 6.72432 13.3693 7.13138 13.7903C8.22827 14.9247 9.33095 16.0534 10.4319 17.1838C10.9858 17.7528 11.5172 17.7545 12.0735 17.1856C14.2927 14.9149 16.5113 12.6431 18.7294 10.3707C19.2006 9.88786 19.2226 9.25182 18.7866 8.83088C18.3639 8.42323 17.7776 8.46775 17.3093 8.94825C15.3676 10.9391 13.4271 12.931 11.4889 14.9247C11.4097 15.0063 11.3565 15.1126 11.257 15.2578Z" fill="#297C54"/>
              </svg>
            {% else %}

              <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.5908 0.140106C6.45527 0.139133 0.651384 5.94691 0.656253 13.0839C0.661122 20.2103 6.46014 26.0054 13.5874 26.0063C20.7254 26.0073 26.5278 20.201 26.5225 13.063C26.5171 5.9362 20.7181 0.141081 13.5908 0.140106ZM13.5611 15.1552C13.4803 15.2536 13.4243 15.3344 13.3557 15.4031C12.2338 16.5273 11.111 17.6501 9.98775 18.7724C9.67175 19.0879 9.42781 19.0909 9.11376 18.7797C8.71644 18.3863 8.32254 17.9895 7.92718 17.5941C7.55664 17.2236 7.55664 17.0098 7.93204 16.6339C9.049 15.5165 10.1664 14.3996 11.2834 13.2821C11.3501 13.2154 11.4129 13.1458 11.5161 13.0367C11.4192 12.9627 11.334 12.9116 11.2659 12.8439C10.1358 11.7167 9.00713 10.5881 7.87897 9.45894C7.57563 9.1556 7.57466 8.90777 7.87702 8.60248C8.27044 8.20517 8.66727 7.81127 9.06263 7.41639C9.43755 7.04196 9.65227 7.03952 10.0233 7.41006C11.1466 8.53237 12.2694 9.65565 13.3927 10.7785C13.454 10.8398 13.5193 10.8968 13.5923 10.9644C13.6692 10.8909 13.734 10.832 13.7958 10.7697C14.9191 9.64689 16.0414 8.52361 17.1647 7.40081C17.5231 7.04245 17.7436 7.04439 18.1083 7.40762C18.4871 7.78546 18.865 8.16378 19.2428 8.54211C19.6255 8.9253 19.625 9.13418 19.2389 9.5203C18.122 10.6377 17.0045 11.7547 15.8876 12.8721C15.8262 12.9335 15.7683 12.9987 15.6986 13.0732C15.7692 13.1482 15.8277 13.213 15.8895 13.2748C17.0235 14.4093 18.1585 15.5433 19.292 16.6783C19.6046 16.9913 19.6046 17.2367 19.2915 17.5527C18.9093 17.9384 18.5241 18.3211 18.1405 18.7047C17.73 19.1147 17.5357 19.1157 17.1282 18.7082C16.0107 17.5912 14.8938 16.4738 13.7763 15.3568C13.7208 15.3018 13.6609 15.2492 13.5611 15.1552Z" fill="#C92121"/>
              </svg>

            {% endif %}
          </td>
          <td class="text-center">
            {%  if block.settings.other_product == 'yes' %}
              <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.0117261 13.0704C0.019243 5.92764 5.84946 0.110759 12.9709 0.140248C20.1235 0.169738 25.8872 5.95019 25.8779 13.0843C25.8681 20.2438 20.0662 26.0335 12.9275 26.0063C5.77603 25.9797 0.00420919 20.1981 0.0117261 13.0704ZM11.257 15.2578C11.1292 15.0976 11.0697 15.0091 10.9968 14.9334C10.1688 14.0742 9.34367 13.2126 8.50756 12.3615C8.07389 11.9203 7.44594 11.9394 7.0539 12.384C6.69945 12.7865 6.72432 13.3693 7.13138 13.7903C8.22827 14.9247 9.33095 16.0534 10.4319 17.1838C10.9858 17.7528 11.5172 17.7545 12.0735 17.1856C14.2927 14.9149 16.5113 12.6431 18.7294 10.3707C19.2006 9.88786 19.2226 9.25182 18.7866 8.83088C18.3639 8.42323 17.7776 8.46775 17.3093 8.94825C15.3676 10.9391 13.4271 12.931 11.4889 14.9247C11.4097 15.0063 11.3565 15.1126 11.257 15.2578Z" fill="#297C54"/>
              </svg>
            {% else %}
              <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.5908 0.140106C6.45527 0.139133 0.651384 5.94691 0.656253 13.0839C0.661122 20.2103 6.46014 26.0054 13.5874 26.0063C20.7254 26.0073 26.5278 20.201 26.5225 13.063C26.5171 5.9362 20.7181 0.141081 13.5908 0.140106ZM13.5611 15.1552C13.4803 15.2536 13.4243 15.3344 13.3557 15.4031C12.2338 16.5273 11.111 17.6501 9.98775 18.7724C9.67175 19.0879 9.42781 19.0909 9.11376 18.7797C8.71644 18.3863 8.32254 17.9895 7.92718 17.5941C7.55664 17.2236 7.55664 17.0098 7.93204 16.6339C9.049 15.5165 10.1664 14.3996 11.2834 13.2821C11.3501 13.2154 11.4129 13.1458 11.5161 13.0367C11.4192 12.9627 11.334 12.9116 11.2659 12.8439C10.1358 11.7167 9.00713 10.5881 7.87897 9.45894C7.57563 9.1556 7.57466 8.90777 7.87702 8.60248C8.27044 8.20517 8.66727 7.81127 9.06263 7.41639C9.43755 7.04196 9.65227 7.03952 10.0233 7.41006C11.1466 8.53237 12.2694 9.65565 13.3927 10.7785C13.454 10.8398 13.5193 10.8968 13.5923 10.9644C13.6692 10.8909 13.734 10.832 13.7958 10.7697C14.9191 9.64689 16.0414 8.52361 17.1647 7.40081C17.5231 7.04245 17.7436 7.04439 18.1083 7.40762C18.4871 7.78546 18.865 8.16378 19.2428 8.54211C19.6255 8.9253 19.625 9.13418 19.2389 9.5203C18.122 10.6377 17.0045 11.7547 15.8876 12.8721C15.8262 12.9335 15.7683 12.9987 15.6986 13.0732C15.7692 13.1482 15.8277 13.213 15.8895 13.2748C17.0235 14.4093 18.1585 15.5433 19.292 16.6783C19.6046 16.9913 19.6046 17.2367 19.2915 17.5527C18.9093 17.9384 18.5241 18.3211 18.1405 18.7047C17.73 19.1147 17.5357 19.1157 17.1282 18.7082C16.0107 17.5912 14.8938 16.4738 13.7763 15.3568C13.7208 15.3018 13.6609 15.2492 13.5611 15.1552Z" fill="#C92121"/>
              </svg>
            {% endif %}
          </td>
        </tr>
      {% endfor %}


    </table>
    <div class="text-center w-auto">
      <div class="rfss-hm-two-ctn mt-5">
        <button class="w-25 mt-4" id="try_it_ones">Try it for yourself
          <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/right-arrow-thin.svg?v=25521640411634951531663145304">
        </button>
      </div>
      <span class="d-block fs-5 mt-2 mb_span">
        <b>84-Day Full Refund</b>
        if our products don’t work!</span>
    </div>

  </div>
</section>
<script>
  $(document).ready(function() {

// variables 
    var toTop = $('#try_it_ones');

// logic
    toTop.on('click', function() {
      $('html, body').animate({scrollTop: $('html, body').offset().top});
    });

  });
</script>

{% schema %}
  {
    "name": "how_our_serum_works",
    "tag": "div",
    "class": "hw_our_serum_works",
    "settings": [
      {
        "type": "text",
        "id": "hw_se_works_title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "name": "how_our_serum_works",
        "type": "how_our_serum_works",
        "settings": [
          {
            "type": "text",
            "id": "item_title",
            "label": "Item Title "
          }, {
            "type": "radio",
            "id": "refresh_product",
            "label": "Refresh product",
            "options": [
              {
                "value": "yes",
                "label": "yes"
              }, {
                "value": "no",
                "label": "no"
              }
            ],
            "default": "yes"
          }, {
            "type": "radio",
            "id": "other_product",
            "label": "Other product",
            "options": [
              {
                "value": "yes",
                "label": "yes"
              }, {
                "value": "no",
                "label": "no"
              }
            ],
            "default": "no"
          }

        ]
      }
    ]

  }
{% endschema %}