<section class="face-serum-video text-center">
    <div class="container">
        <h2>Face Serum</h2>
        <img src="{{ 'Hyalouric-Acid_Shaking-Video.jpg'  | asset_url }}" class="d-block m-auto w-50">
        
        <button>TRY IT FOR YOURSELF</button>
        <span class="d-block mt-3"><b>80-Day Full Refund</b> if we’re not the right fit!</span>
    </div>
</section>