<div class="rae-section-1 pt-lg-5 pb-lg-5">
  <div class="container">
    <div class="yotpo-widget-instance" data-yotpo-instance-id="282868"></div>

    <div class="row mt-lg-5 mb-lg-5 align-items-center">
      <div class="col-lg-7 mt-lg-5 mb-lg-5 pt-lg-5 pb-lg-5 mt-4 mb-4 mb-md-4 mt-md-4">
        <div class="w-75">
          <h2 class="fw-bolder fs-1">Refer A Friend</h2>
          <div class="fs-3 pt-3">Gift ₹10%, Get ₹10%</div>
          <p class="fs-5 pt-2 rfss-grey">Give your friends ₹10 off their first order and get ₹10 (in points) for each successful referral.</p>
          <form>
            <input type="email" class="form-control w-100 raein" placeholder="Friend's Email address">

          </form>
          <div class="rfss-hm-two-ctn mt-4">
            <button class="mt-4" id="get_start">NEXT
              <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/right-arrow-thin.svg?v=25521640411634951531663145304">
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-5 d-none d-md-block d-lg-block">
        <picture>
          <source srcset="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/raf-img.webp" type="image/webp">
          <source srcset="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/raf-img.jpg" type="image/jpg">
          <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/raf-img.jpg" alt="" class="w-100">
        </picture>
      </div>
    </div>
  </div>
</div>
<style>
  .rfss-hm-two-ctn button {
    width: 100%;
  }
  .raein {
    padding: 20px;
    border: 1px solid #000;
  }
  .yotpo-widget-referral-widget .yotpo-background .yotpo-right-align-image {
    width: 43% !important;
    min-width: 43% !important;
    height: auto !important;
  }
  .yotpo-widget-referral-widget .yotpo-right-align-background .yotpo-email-view {
    text-align: left !important;
  }
  .yotpo-widget-referral-widget .yotpo-action-button-widget .yotpo-filled-button {
    text-align: center;
  }
  .yotpo-widget-referral-widget .yotpo-tile-wrapper {
    max-width: 50%;
    margin-left: 0;
  }
  .yotpo-widget-referral-widget .yotpo-right-align-background .yotpo-tile-box {
    width: 80%;
    margin-left: 0;
  }
  .yotpo-background.yotpo-right-align-background {
    height: auto !important;
  }
</style>
<script>
  $(document).ready(function() {
    $("#get_start").click(function() {
      alert("its working");
      $("#boom-launcher-button").trigger("click");
    });
  });
</script>