<main class="404_page mb-5 mt-5 pb-5 pt-5 text-center">
  <div class="container">
    <img src="{{ "404_error.png"  | asset_url }}">
    <h1 class="fs-1 fw-bold mb-3 mt-3 text-capitalize">{{ 'general.404.title' | t }}</h1>
    <p>{{ 'general.404.subtext_html' | t }}</p>
  </div>
</main>