{% section 'rae-home-banner' %}


<div class="rae-section-2  pt-5 pb-lg--5 pb-md-5 bg-black">
  <div class="container mt-lg-5 mb-lg-5">
    <h2 class="fw-bolder pb-0 pb-md-4 text-center text-white">How it works</h2>
    <div class="row mt-lg-5 mb-lg-5 mt-md-5 mb-md-5 d-none d-md-none d-lg-flex">
      <div class="col-lg-4 col-md-4">
        <div class="hw-wk-box bg-white text-center">
          <div class="sm-circle">1</div>
          <div class="fs-3 pt-2">Sign-Up</div>
          <p class="pt-2">Create an account and get 20 points.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="hw-wk-box bg-white text-center">
          <div class="sm-circle">2</div>
          <div class="fs-3 pt-2">Earn Points</div>
          <p class="pt-2">Earn points every time you shop.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="hw-wk-box bg-white text-center">
          <div class="sm-circle">3</div>
          <div class="fs-3 pt-2">Redeem Points</div>
          <p class="pt-2">Redeem points for exclusive discounts and free products.</p>
        </div>
      </div>
    </div>
    <div class="d-block d-md-block d-lg-none">
      <div id="howitwork" class="owl-carousel owl-theme  pt-5 pb-5 mb-0 mb-md-5">
        <div class="item">
          <div class="hw-wk-box bg-white text-center">
            <div class="sm-circle">1</div>
            <div class="fs-3 pt-2">Sign-Up</div>
            <p class="pt-2">Create an account and get 20 points.</p>
          </div>
        </div>
        <div class="item">
          <div class="hw-wk-box bg-white text-center">
            <div class="sm-circle">2</div>
            <div class="fs-3 pt-2">Earn Points</div>
            <p class="pt-2">Earn points every time you shop.</p>
          </div>
        </div>
        <div class="item">
          <div class="hw-wk-box bg-white text-center">
            <div class="sm-circle">3</div>
            <div class="fs-3 pt-2">Redeem Points</div>
            <p class="pt-2">Redeem points for exclusive discounts and free products.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="rae-section-1 rfss-hm-two-ctn  pt-5 pb-5 mb-4 mt-4">
  <div class="container">
    <h2 class="fw-bolder text-center mt-0 pb-4">Ways to Earn Points</h2>
    <div class="row mt-lg-5 mb-lg-5 mt-md-5">
      <div class="col-lg-4 col-6">
        <div class="earn-points-box text-center">
          <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/point-1.svg">
          <h3 class="pt-4 fs-4 fw-bolder text-center">1 Point Per ₹1</h3>
          <span class="pt-1 d-block fs-5 rfss-grey text-uppercase text-center">PER ₹1 SPENT</span>
          <div class="hvr-txt">
            <a href="#" class="signup">Signup</a>
            <div class="text-white pt-3 fs-5">Already a member?
              <a href="#" class="text-white">Log in</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-6">
        <div class="earn-points-box text-center">
          <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/point-2.svg">
          <h3 class="pt-4 fs-4 fw-bolder text-center">20 Points</h3>
          <span class="pt-1 d-block fs-5 rfss-grey text-uppercase text-center">CREATE AN ACCOUNT</span>
          <div class="hvr-txt">
            <a href="#" class="signup">Signup</a>
            <div class="text-white pt-3 fs-5">Already a member?
              <a href="#" class="text-white">Log in</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-6">
        <div class="earn-points-box text-center">
          <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/point-3.svg">
          <h3 class="pt-4 fs-4 fw-bolder text-center">5 Points</h3>
          <span class="pt-1 d-block fs-5 rfss-grey text-uppercase text-center">SIGN UP FOR EMAIL + TEXT</span>
          <div class="hvr-txt">
            <a href="#" class="signup">Signup</a>
            <div class="text-white pt-3 fs-5">Already a member?
              <a href="#" class="text-white">Log in</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-6">
        <div class="earn-points-box text-center">
          <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/point-4.svg">
          <h3 class="pt-4 fs-4 fw-bolder text-center">Birthday Gift</h3>
          <span class="pt-1 d-block fs-5 rfss-grey text-uppercase text-center">SUPRISE FREE PRODUCT</span>
          <div class="hvr-txt">
            <a href="#" class="signup">Signup</a>
            <div class="text-white pt-3 fs-5">Already a member?
              <a href="#" class="text-white">Log in</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-6">
        <div class="earn-points-box text-center">
          <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/point-5.svg">
          <h3 class="pt-4 fs-4 fw-bolder text-center">5 Points</h3>
          <span class="pt-1 d-block fs-5 rfss-grey text-uppercase text-center">LEAVE A REVIEW</span>
          <div class="hvr-txt">
            <a href="#" class="signup">Signup</a>
            <div class="text-white pt-3 fs-5">Already a member?
              <a href="#" class="text-white">Log in</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-6">
        <div class="earn-points-box text-center">
          <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/point-6.svg">
          <h3 class="pt-4 fs-4 fw-bolder text-center">5 Points</h3>
          <span class="pt-1 d-block fs-5 rfss-grey text-uppercase text-center">FOLLOW US ON INSTAGRAM</span>
          <div class="hvr-txt">
            <a href="#" class="signup">Signup</a>
            <div class="text-white pt-3 fs-5">Already a member?
              <a href="#" class="text-white">Log in</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-6">
        <div class="earn-points-box text-center">
          <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/point-7.svg">
          <h3 class="pt-4 fs-4 fw-bolder text-center">5 Points</h3>
          <span class="pt-1 d-block fs-5 rfss-grey text-uppercase text-center">SHARE ON FACEBOOK</span>
          <div class="hvr-txt">
            <a href="#" class="signup">Signup</a>
            <div class="text-white pt-3 fs-5">Already a member?
              <a href="#" class="text-white">Log in</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-6">
        <div class="earn-points-box text-center">
          <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/point-8.svg">
          <h3 class="pt-4 fs-4 fw-bolder text-center">5 Points</h3>
          <span class="pt-1 d-block fs-5 rfss-grey text-uppercase text-center">FOLOW US ON PINTEREST</span>
          <div class="hvr-txt">
            <a href="#" class="signup">Signup</a>
            <div class="text-white pt-3 fs-5">Already a member?
              <a href="#" class="text-white">Log in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="rae-section-2 rfss-hm-two-ctn  pt-5 pb-5 bg-black">
  <div class="container mt-lg-5 mb-lg-5">
    <div class="row align-items-md-center">
      <div class="col-lg-5 col-md-5">
        <img src="//cdn.shopify.com/s/files/1/0577/7129/4793/t/6/assets/raeimg-fot.jpg" class="w-100">
      </div>
      <div class="col-lg-1 col-md-1"></div>
      <div class="col-lg-6 col-md-6">
        <div class="text-white mt-lg-5 mb-lg-5 pt-lg-5 pb-lg-5 pt-3 pb-3">
          <div class="fs-1 pt-lg-5">Redeem Points
          </div>
          <div class="rae-point pt-4 pb-3 bor-1">100 Points = ₹5 discount on your Refresh Skin Science order!</div>
          <div class="rae-point pt-4 pb-3 bor-1">200 Points = ₹10 discount on your Refresh Skin Science order!</div>
          <div class="rae-point pt-4 pb-3">400 Points = ₹20 discount on your Refresh Skin Science order!</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="rae-section-1  pt-lg-5 pb-lg-5 mt-lg-5 mb-lg-5 pt-4 pb-4">
  <div class="container">
    <h2 class="fw-bolder text-center">FAQs</h2>
    <div class="w-75 m-auto">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              How do I join?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
              <code>.accordion-flush</code>
              class. This is the first item's accordion body.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Does it cost anything to join? Or to earn/redeem points?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
              <code>.accordion-flush</code>
              class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              How can I earn points?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
              <code>.accordion-flush</code>
              class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              How do I earn points for leaving a review?
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
              <code>.accordion-flush</code>
              class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
              Can I buy extra points?
            </button>
          </h2>
          <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
              <code>.accordion-flush</code>
              class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingsix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsesix" aria-expanded="false" aria-controls="flush-collapsesix">
              Can I buy extra points?
            </button>
          </h2>
          <div id="flush-collapsesix" class="accordion-collapse collapse" aria-labelledby="flush-headingsix" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
              <code>.accordion-flush</code>
              class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingseven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseseven" aria-expanded="false" aria-controls="flush-collapseseven">
              What can points be redeemed for?
            </button>
          </h2>
          <div id="flush-collapseseven" class="accordion-collapse collapse" aria-labelledby="flush-headingseven" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
              <code>.accordion-flush</code>
              class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingeight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseeight" aria-expanded="false" aria-controls="flush-collapseeight">
              How do I redeem points?
            </button>
          </h2>
          <div id="flush-collapseeight" class="accordion-collapse collapse" aria-labelledby="flush-headingeight" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
              <code>.accordion-flush</code>
              class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingeight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseeight" aria-expanded="false" aria-controls="flush-collapseeight">
              How can I earn points?
            </button>
          </h2>
          <div id="flush-collapseeight" class="accordion-collapse collapse" aria-labelledby="flush-headingeight" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
              <code>.accordion-flush</code>
              class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingnine">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsenine" aria-expanded="false" aria-controls="flush-collapsenine">
              How do I check my points balance?
            </button>
          </h2>
          <div id="flush-collapsenine" class="accordion-collapse collapse" aria-labelledby="flush-headingnine" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
              <code>.accordion-flush</code>
              class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingten">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseten" aria-expanded="false" aria-controls="flush-collapseten">
              When do new points post to my account?
            </button>
          </h2>
          <div id="flush-collapseten" class="accordion-collapse collapse" aria-labelledby="flush-headingten" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
              <code>.accordion-flush</code>
              class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingeleven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseeven" aria-expanded="false" aria-controls="flush-collapseeven">
              When do ₹10 URL-share credits post to my account?
            </button>
          </h2>
          <div id="flush-collapseeven" class="accordion-collapse collapse" aria-labelledby="flush-headingeleven" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
              <code>.accordion-flush</code>
              class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingtwele">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsetwele" aria-expanded="false" aria-controls="flush-collapsetwele">
              How do I get my shipping offer?
            </button>
          </h2>
          <div id="flush-collapsetwele" class="accordion-collapse collapse" aria-labelledby="flush-headingtwele" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
              <code>.accordion-flush</code>
              class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingthirteen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsethirteen" aria-expanded="false" aria-controls="flush-collapsethirteen">
              How do I get my birthday and tier entry gifts?
            </button>
          </h2>
          <div id="flush-collapsethirteen" class="accordion-collapse collapse" aria-labelledby="flush-headingthirteen" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
              <code>.accordion-flush</code>
              class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingfifteen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefifteen" aria-expanded="false" aria-controls="flush-collapsefifteen">
              How can I get early access to sales + new products?
            </button>
          </h2>
          <div id="flush-collapsefifteen" class="accordion-collapse collapse" aria-labelledby="flush-headingfifteen" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
              <code>.accordion-flush</code>
              class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingsixteen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsesixteen" aria-expanded="false" aria-controls="flush-collapsesixteen">
              I’m in the Golden Hour Mode Tier. How can I get my exclusive reward?
            </button>
          </h2>
          <div id="flush-collapsesixteen" class="accordion-collapse collapse" aria-labelledby="flush-headingsixteen" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
              <code>.accordion-flush</code>
              class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingseventeen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseseventeen" aria-expanded="false" aria-controls="flush-collapseseventeen">
              Can I combine points with an additional discount code?
            </button>
          </h2>
          <div id="flush-collapseseventeen" class="accordion-collapse collapse" aria-labelledby="flush-headingseventeen" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
              <code>.accordion-flush</code>
              class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingeighteen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseeighteen" aria-expanded="false" aria-controls="flush-collapseeighteen">
              Do my points expire?
            </button>
          </h2>
          <div id="flush-collapseeighteen" class="accordion-collapse collapse" aria-labelledby="flush-headingeighteen" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
              <code>.accordion-flush</code>
              class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingnineteen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsenineteen" aria-expanded="false" aria-controls="flush-collapsenineteen">
              What happens to my points if I return a purchase?
            </button>
          </h2>
          <div id="flush-collapsenineteen" class="accordion-collapse collapse" aria-labelledby="flush-headingnineteen" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
              <code>.accordion-flush</code>
              class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .hw-wk-box {
    width: 80%;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 0 0 27px rgba(141, 141, 141, 0.25);
    padding: 11%;
    height: 275px;
  }
  .sm-circle {
    background-color: #000;
    width: 93px;
    height: 93px;
    color: #ffff;
    font-size: 30px;
    line-height: 93px;
    border-radius: 50px;
    margin: 0 auto;
  }
  .earn-points-box {
    width: 80%;
    margin: 0 auto 2rem;
    border-radius: 30px;
    box-shadow: 0 0 27px rgba(141, 141, 141, 0.25);
    padding: 17% 11%;
    position: relative;
  }
  .earn-points-box:hover {
    background-color: #000;
  }
  .earn-points-box:hover span {
    opacity: 0;
  }
  .earn-points-box img {
    height: 50px;
  }
  .hvr-txt {
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: 33%;
    display: none;
    width: 75%;
    text-align: center;
  }
  .earn-points-box:hover .hvr-txt {
    display: block;
  }
  .signup {
    background-color: #fff;
    padding: 10px 40px;
    color: #000;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
  }
  .signup:hover {
    color: #000;
  }
  .rae-point {
    font-size: 24px;
  }
  .bor-1 {
    border-bottom: 1px solid #474747;
    width: fit-content;
  }
  .accordion-button:not(.collapsed) {
    color: #080808;
    background-color: #ffffff;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
  }
  .accordion-button {
    font-size: 24px;
    font-weight: 600;
  }
  .accordion-item {
    border: 1px solid #BCBCBC;
  }
  .accordion-body {
    font-size: 18px;
  }
  .rfss-hm-two-ctn h2,
  .rfss-hm-two-ctn p {
    color: #000;
  }
  .mobile-view-only {
    display: none;
  }

  @media(min-width: 320px) and (max-width: 768px) {
    .w-75 {
      width: 100% !important;
    }
    .hw-wk-box {
      width: 100% !important;
    }
    .mobile-view-only {
      display: block;
    }
    .desktop-view-only {
      display: none;
    }
    .rfss-hm-two-ctn h2 {
      margin-top: 0;
    }
    .sm-circle {
      background-color: #000;
      width: 60px;
      height: 60px;
      font-size: 22px;
      line-height: 60px;
    }
    .fs-3 {
      font-size: 19px !important;
    }
    .rfss-hm-two-ctn p {
      font-size: 15px !important;
    }
    .hw-wk-box {
      height: 227px;
    }
    .earn-points-box {
      width: 100%;
    }
    .earn-points-box img {
      height: 32px;
    }
    .earn-points-box h3 {
      font-size: 17px !important;
    }
    .earn-points-box {
      height: 175px;
    }
    .earn-points-box span {
      font-size: 15px !important;
    }
    .rae-point {
      font-size: 19px;
    }
    .accordion-button {
      font-size: 18px;
    }
    .accordion-body {
      font-size: 14px;
    }
    .open ul.nav-menu-ul li.menu-item a {
      font-size: 22px;
    }
    .menu-ftr .pe-5 {
      padding-right: 0 !important;
    }
    .menu-ftr .me-5 {
      margin-right: 0 !important;
    }
    .menu-right-ani .ms-5 {
      margin-left: 0 !important;
    }
    .menu-right-ani .ps-4 {
      padding-left: 0 !important;
    }
    .hw-wk-box {
      width: 95%;
    }

  }
  @media(min-width:768px) and (max-width:1336px) {
    .hw-wk-box {
      width: 100%;
      height: 235px;
    }
    .earn-points-box {
      height: 235px;
    }
    .sm-circle {
      background-color: #000;
      width: 70px;
      height: 70px;
      font-size: 30px;
      line-height: 70px;
    }
    .hw-wk-box p {
      font-size: 16px;
    }
    .hw-wk-box .fs-3 {
      font-size: 21px !important;
    }
    .earn-points-box img {
      height: 40px;
    }
    .earn-points-box {
      width: 100%;
    }
    .rae-point {
      font-size: 15px;
    }
    .accordion-button {
      font-size: 19px;
    }
    .accordion-body {
      font-size: 14px;
    }
  }
  @media(min-width:1337px) and (max-width:1919px) {
    .hw-wk-box,
    .earn-points-box {
      width: 90%;
    }
    .rae-point {
      font-size: 20px;
    }
  }
</style>
<script>
  $('#howitwork').owlCarousel({
    loop: false,
    margin: 10,
    nav: false,
    responsive: {
      0: {
        items: 1,
        stagePadding: 70
      },
      600: {
        items: 2,
        stagePadding: 70
      },
      1000: {
        items: 3
      }
    }
  });
</script>